<ion-tabs>
  <ion-router-outlet />
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home"
      ><ion-icon name="home-outline" /><ion-label>Home</ion-label></ion-tab-button
    >
    <ion-tab-button tab="customers" href="/tabs/customers"
      ><ion-icon name="people-outline" /><ion-label>Customers</ion-label></ion-tab-button
    >
    <ion-tab-button tab="work" href="/tabs/work"
      ><ion-icon name="briefcase-outline" /><ion-label>Work</ion-label></ion-tab-button
    >
    <ion-tab-button tab="ai" href="/tabs/ai"
      ><ion-icon name="sparkles-outline" /><ion-label>AI</ion-label></ion-tab-button
    >
    <ion-tab-button tab="profile" href="/tabs/profile"
      ><ion-icon name="person-circle-outline" /><ion-label>Profile</ion-label></ion-tab-button
    >
  </ion-tab-bar>
</ion-tabs>
